* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #2A2A2A;
  --white: #FFFFFF;
  --gray: #5E6573;
}

html {
  min-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--black);
}

body {
  padding: 20px;
  font-size: 16px;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  font-size: inherit;
}

li {
  margin-top: 8px;
  margin-left: 14px;
}

section {
  page-break-inside: avoid;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: var(--white);
}

.container {
  margin: 0 auto;
}

.titles {
  font-size: 24px;
  margin-bottom: 16px;
}

.bio {
  margin-bottom: 40px;
}

.bio__name {
  font-size: 30px;
}

.bio__contact {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.bio__contact a {
  color: var(--black);
  font-size: 20px;
}

.about__desc > * + * {
  margin-top: 12px;
}

.works__comp__name {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works__comp__name h4 {
  margin-bottom: 0;
  font-size: 18px;
}

.works__role {
  margin-bottom: 8px;
  color: var(--gray);
}

.works__box:not(:last-child) {
  margin-bottom: 24px;
}

.edu__title {
  display: flex;
  justify-content: space-between;
}

.edu__title h4 {
  margin-bottom: 8px;
  max-width: 200px;
}

@media screen and (min-width: 760px) {
  .container {
    max-width: 680px;
  }

  .edu__title h4 {
    max-width: 100%;
  }
}

@page {
  size: A4 portrait;
  margin: 22px;
}
